
.latlong {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	input, label, button {
		text-align: center;
	}


	#latlong-form {
		position: absolute;
		z-index: 11;
		left: 50%;

			height: 200px;
			width: 400px;
			margin-left: -200px;

		@media (min-width: 460px) {
			height: 300px;
			width: 600px;
			margin-left: -300px;
			}
		@media (min-width: 992px) {
			height: 200px;
			width: 400px;
			margin-left: -200px;
			}
		@media (min-width: 1200px) {
			height: 300px;
			width: 600px;
			margin-left: -300px;
		}
	}

	form {
		margin-top: 75px;
		
		@media (min-width: 460px) {
			margin-top: 120px;
			}
		@media (min-width: 992px) {
		margin-top: 75px;
			}
		@media (min-width: 1200px) {
			margin-top: 110px;
		}
		@media (min-width: 1600px) {
			margin-top: 120px;
		}
	}

	input[type=text] {
		padding: 1px;
		margin: 0 auto;
		display: block;
		text-transform: uppercase;

		width: 23%;
		@include font-size(1.2);
	    height: 1.8rem;
		line-height: 1.2;

		@media (min-width: 460px) {
			width: 26%;
			@include font-size(2.1);
			line-height: 1;
		    height: 2.4rem;
		}
		@media (min-width: 992px) {
			width: 23%;
			@include font-size(1.2);
			line-height: 1.2;
		    height: 1.8rem;
		}
		@media (min-width: 1200px) {
			width: 26%;
			@include font-size(2.1);
			line-height: 1;
		    height: 2.4rem;
		}
	}
	label {
		display: block;
		font-family: $font__fancy;
		color: $color__search-header;

		@include font-size(2.5);
		margin-bottom: -0.2rem;
		&:first-child{
			margin-bottom: -0.7rem;
		}

		@media (min-width: 460px) {
			@include font-size(4);
			margin-bottom: -0.2rem;
			&:first-child{
				margin-bottom: -0.7rem;
			}
		}
		@media (min-width: 992px) {
			@include font-size(2.5);
			margin-bottom: -0.2rem;
			&:first-child{
				margin-bottom: -0.7rem;
			}
		}
		@media (min-width: 1200px) {
			@include font-size(4);
			margin-bottom: -0.2rem;
			&:first-child{
				margin-bottom: -0.7rem;
			}
		}
		
	}
	button[type=submit] {

		display: block;
		font-family: $font__header;
		color: $color__search-header;
		padding: 0.2em 1em 0;
		border: 1px solid #fff;
		box-shadow: none;
		text-shadow: none;
		margin: 0 auto;
		line-height: 1.3;

		margin-top:70px;
		@include font-size(1.2);
		

		@media (min-width: 460px) {
			margin-top:100px;
			@include font-size(1.8);
			}
		@media (min-width: 992px) {
			margin-top: 70px;
			@include font-size(1.2);
			}
		@media (min-width: 1200px) {
			margin-top:100px;
			@include font-size(1.8);
		}

		&:hover {
  			color: darken($color__search-header, 10%);
		}
	}
	.banner {
		margin-top: 30px;

		@media (min-width: 460px) {
			}
		@media (min-width: 600px) {
			margin-top: 60px;
		}
		@media (min-width: 992px) {
		}
		
		h1, h2 {
			text-align: center;
			color:$color__text-header;
			font-family: $font__header;
		}
		h1 {
			@include font-size(2);
			@media (min-width: 460px) {
				@include font-size(3);
			}
			@media (min-width: 600px) {
				@include font-size(4);
			}
			@media (min-width: 992px) {
				@include font-size(3);
			}
			@media (min-width: 1200px) {
				@include font-size(3);
			}
			@media (min-width: 1600px) {
				@include font-size(4);
			}
		}
		h2 {
			@include font-size(1.8);
			@media (min-width: 460px) {
				@include font-size(2.5);
			}
			@media (min-width: 600px) {
				@include font-size(2.8);
			}
			@media (min-width: 992px) {
				@include font-size(2);
			}
			@media (min-width: 1200px) {
				@include font-size(2.4);
			}
			@media (min-width: 1600px) {
				@include font-size(2.5);
			}
		}
		hr { 
			margin: .2em 8em;

			@media (min-width: 460px) {
				margin: .2em 8em;
			}
			@media (min-width: 600px) {
				margin: .2em 4em;
			}
			@media (min-width: 992px) {
			}
			@media (min-width: 1200px) {
				margin: .2em 8em;
			}
			@media (min-width: 1600px) {
				margin: .2em 4em;
			}
		}
	}
}


.latlong-overlay{
	text-align: center;
	position: absolute;
	background-color: rgba(0,0,0,0.4);
    left: 0; 
    top: 0;
    bottom: 0;
    width:100%;
    z-index: 10;
}


#svg {
	position: absolute;
	top: -20px;
	left: 50%;
	z-index: 10;
	margin-left: -150px;
	height: 300px;
	width: 300px;

	@media (min-width: 460px) {
		margin-left: -225px;
		height: 450px;
		width: 450px;
	}
	@media (min-width: 992px) {
		margin-left: -150px;
		height: 300px;
		width: 300px;
	}
	@media (min-width: 1200px) {
		margin-left: -225px;
		height: 450px;
		width: 450px;
		margin-top: -10px
	}
	@media (min-width: 1600px) {
		margin-top: 0;
	}
}

@import "404";

