
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-nav: #ffffff;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: inherit;
$color__link-hover: darken($color__link, 20%);
$color__text-main: #404040;


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__text-header: #ffffff;
$color__search-header: #ffffff;



/*#front page*/
$color__background-body: #000;

/*#location page*/
$color__background-location-body: #fff;
$color__text-location-body: #000;
$color__text-location-header: #818181;
$color__text-location-nav: #fff;

$color__background-location-sidebar: rgba(85,107,47,0.7);
$color__background-location-gallery: #cfcfcf;
$color__text-location-sidebar: #fff;

$color__background-location-footer: #000;
$color__text-location-footer: #fff;


/*#latlong*/
$input__shadow: 1px 1px 2px #000;
$banner__shadow: 1px 1px 2px #000;
$color__background-error: #800000;
$color__text-error: #fff;