$font__header: Caecilia, sans-serif;

$font__main: MuseoSans, sans-serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__line-height-body: 1.5;

$font__line-height-pre: 1.6;

$font__fancy: "La Portenia de la Boca", serif;
/*$font__fancy: "Snell Roundhand", serif;*/

$font__compass: MuseoSans, sans-serif;