a {
	text-decoration: none;
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
}

#bookmark:hover{
	cursor: pointer; 
}


.sm-links {
	padding: 20px 0 40px;
	margin: 0;
	list-style: none;
	text-align: center;

	@media (min-width: 992px) {
		padding: 88px 0 40px;
	}

	li {
		display: inline-block;
	}
}


.ngg-navigation {
	a { 
		padding: 5px 8px!important;
		color: #000;

		&:hover,
		&:focus,
		&:active {
			color: #fff!important;
			background-color: #000!important;
		}
	}
}