.menu-main-nav-container {
	padding: 100px 0 40px;
	width: 80%;
	margin: 0 auto;
}

.menu-main-nav-container, .menu-location-menu-container{
	ul {
		@include center-block();
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;

	   	display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    flex-direction: row;

		li {
		    -webkit-flex: auto;
    		flex: auto;

			text-align: center;
			width: 33%;
			border-left: 2px solid $color__text-nav;

			a {
				color: $color__text-nav;
				@include font-size(1.8);			}
			
			a:hover {
				color: darken($color__text-nav, 30%);
			}

		}
		li:last-child{
			border-right: 2px solid $color__text-nav;
			
		}

	}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		font-weight: bold;
	}

}
.sidebar-nav > .menu-location-menu-container{
	padding-top: 0;
}
.menu-location-menu-container{
	ul {		
		li {
			width: 50%;
			float: left;
			border-left: 2px solid $color__text-location-nav;

			a {
				color: $color__text-location-nav;
			}
		}
		li:last-child{
			border-right: 2px solid $color__text-location-nav;
			
		}
	@include full-clearfix();
	}
}
