h1, h2, h3, h4, h5, h6 {
	clear: both;
}


.location-banner, .about-image {
	text-align: center;

	margin-top: 20px;
	margin-bottom: 40px;

	@media (min-width: 600px) {
		margin-top: 30px;
		margin-bottom: 60px;
	}

	@media (min-width: 768px) {
		margin-top: 30px;
		margin-bottom: 80px;
	}

}

.about-banner {
	
	margin-top: 40px;
	margin-bottom: 20px;

	@media (min-width: 600px) {
		margin-top: 60px;
		margin-bottom: 30px;
	}

	@media (min-width: 768px) {
		margin-top: 80px;
		margin-bottom: 30px;
	}
}

.location-banner, .about-banner{
	font-family: $font__main;
	color: $color__text-location-header;
	
	h2 {
		@include font-size(1.6);
		
		@media (min-width: 460px) {
			@include font-size(1.9);
		}
		@media (min-width: 600px) {
			@include font-size(2);
		}
		@media (min-width: 768px) {
			@include font-size(2.4);
		}
		@media (min-width: 992px) {
			@include font-size(2.4);
		}
		@media (min-width: 1200px) {
			@include font-size(2.7);
		}
		@media (min-width: 1600px) {
			@include font-size(2.7);
		}
	}
	h1 {
		letter-spacing: .2em;
		@include font-size(1.2);
		
		@media (min-width: 460px) {
			@include font-size(1.4);
		}
		@media (min-width: 600px) {
			@include font-size(1.4);
		}
		@media (min-width: 768px) {
			@include font-size(1.8);
		}
		@media (min-width: 992px) {
			@include font-size(1.8);
		}
		@media (min-width: 1200px) {
			@include font-size(1.8);
		}
		@media (min-width: 1600px) {
			@include font-size(1.8);
		}

	}
	hr{
		margin-top: 0;
		max-width: 60%;
		@media (min-width: 460px) {
			max-width: 50%;
		}
		@media (min-width: 600px) {
			max-width: 45%;
		}
		@media (min-width: 768px) {
			max-width: 40%;
		}
		@media (min-width: 992px) {
			max-width: 35%;
		}
		@media (min-width: 1200px) {
			max-width: 30%;
		}
		@media (min-width: 1600px) {
			max-width: 25%;
		}
	}
}

.location-sidebar{

	font-family: $font__main;

	h4 {
		color: $color__text-location-header;
		text-align: center;
		@include font-size(2);
		
		@media (min-width: 768px) {
			@include font-size(1.8);
		}
		@media (min-width: 992px) {
			@include font-size(2);
			text-align: left;
		}
		@media (min-width: 1200px) {
		}
		@media (min-width: 1600px) {
		}
	}
	p {
		@include font-size(1.5);
		margin-top: 1rem;
	}
	
}

