
@font-face {
	font-family: 'La Portenia de la Boca';  
	src: url("fonts/La Portenia de la Boca.ttf") format('truetype');  
}

@font-face {
	font-family: 'MuseoSans';
	src: url('fonts/museosans/2C8BC5_0_0.eot');
	src: url('fonts/museosans/2C8BC5_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/museosans/2C8BC5_0_0.woff2') format('woff2'),url('fonts/museosans/2C8BC5_0_0.woff') format('woff'),url('fonts/museosans/2C8BC5_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Caecilia';
	src: url('fonts/caecilia/2C8BC3_0_0.eot');
	src: url('fonts/caecilia/2C8BC3_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/caecilia/2C8BC3_0_0.woff2') format('woff2'),url('fonts/caecilia/2C8BC3_0_0.woff') format('woff'),url('fonts/caecilia/2C8BC3_0_0.ttf') format('truetype'),url('fonts/caecilia/2C8BC3_0_0.svg#wf') format('svg');
}


body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1.6);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";