/*
Theme Name: Remarkable Stones
Theme URI: http://underscores.me/
Author: OtherDay
Author URI: http://automattic.com/
Description: <code>Remarkable Stones</code> wordpress theme built on <em>underscores.me</em>
Version: 0.1
Text Domain: Remarkable Stones
Tags:

Remarkable Stones is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
@import "reset";

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
13.0 Grid
--------------------------------------------------------------*/
@import "bootstrap/grid";

/*--------------------------------------------------------------
13.0 LatLong
--------------------------------------------------------------*/
@import "latlong/latlong";

/*--------------------------------------------------------------
14.0 Layout
--------------------------------------------------------------*/
@import "layout/layout";

/*--------------------------------------------------------------
15.0 Layout
--------------------------------------------------------------*/
@import "sweet-alert/sweet-alert";


.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.pos-rel {
	position: relative;
}




/*div, main, body, li, label {
	border: 1px red dotted!important;
}*/