.header-image {
	margin: 0 auto;
	max-width: 600px;
	max-height: 220px;

	.shadow-left {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background-image: linear-gradient(90deg, #000 0%, transparent 15%);
	}

	.shadow-right {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background-image: linear-gradient(270deg, #000 0%, transparent 15%);
	}
}