
.acf-map {
	
	/*for width and height of sidebar map see layout/sidebar*/
/*	
	div:nth-child(2){
		z-index: -1 !important;
	}
	div:nth-child(3){
		z-index: -1 !important;
	}
	div:nth-child(6){
		z-index: -1 !important;
	}
	div:nth-child(7){
		z-index: -1 !important;
	}*/
}

.map-container {	
	.acf-map {
		width: 100%;
		height: 500px;
	}
	margin-bottom: 30px;
}

.map-toggler {
	margin-top: 15px;
	margin-bottom: 30px;
}