.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
@import "galleries";

/*--------------------------------------------------------------
12.3 Google Maps
--------------------------------------------------------------*/
@import "maps";

/*--------------------------------------------------------------
12.4 Slideshow
--------------------------------------------------------------*/
@import "slideshow";
/*--------------------------------------------------------------
12.4 Header Image
--------------------------------------------------------------*/
@import "header";

