.landing-slide {
	.shadow-left {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background-image: linear-gradient(90deg, #000 18%, transparent 33%);
	    z-index: 10;
	}

	.shadow-right {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background-image: linear-gradient(270deg, #000 18%, transparent 33%);
	    z-index: 10;
	}
}

.border-right-dotted-1 {
	@media (min-width: 992px) {
		border-right: 1px dotted #fff;
	}
}

.border-right-1 {
	@media (min-width: 992px) {
		border-right: 1px solid transparent;
	}
}

.border-solid-bottom {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}