.container-fluid{
	overflow-y: hidden;
	/*padding: 0 !important;*/
}

.col-12 {
	@media (max-width: 767px) {
  		width: 100%;
  	}
}


.ruler {
	background-image: url("./img/page_ruler.png");
	background-position: center center;
	background-repeat: no-repeat;
	height: 30px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

main {

}

.landing-slide {
	margin-top: 0;
}

.location-body, .location-gallery, .about-body {
	background-color: $color__background-location-body;
	color:  $color__text-location-body;

	main {
		@media (min-width: 460px) {
			margin-left: 10px;
			margin-right: 10px;
		}
		@media (min-width: 600px) {
		}
		@media (min-width: 768px) {
		}
		@media (min-width: 992px) {
			margin-left: 50px;
			margin-right: 0;
		}
		@media (min-width: 1200px) {
			margin-left: 100px;
		}
		@media (min-width: 1600px) {
			margin-left: 195px;
		}

		h1, h2, p, hr, .about-image{
			margin-left: 20px;
			margin-right: 20px;
			@media (min-width: 768px) {
			}
			@media (min-width: 992px) {
			}
			@media (min-width: 1200px) {
				margin-left: 50px;
				margin-right: 50px;
			}
			@media (min-width: 1600px) {
				margin-left: 100px;
				margin-right: 100px;
			}
		}
		.gallery {
			margin-left: 20px;
			margin-right: 30px;
			@media (min-width: 768px) {
			}
			@media (min-width: 992px) {
			}
			@media (min-width: 1200px) {
				margin-left: 50px;
				margin-right: 150px;
			}
			@media (min-width: 1600px) {
				margin-left: 100px;
				margin-right: 295px;
			}
		}
	}

}

.location-gallery {
	background-color: $color__background-location-gallery;
}



.gallery {
	@include full-clearfix();

	@media ( min-width: 992px) {
		margin-top: 20px;

	}
}

.ngg-galleryoverview {
   	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

	&>div {
	    -webkit-flex: auto;
		flex: auto;
	}
}

