.sweet-alert {
	position: relative;
	background-image: url(./img/popup_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 325px;
	width: 435px;
	padding: 0!important;
	border: 2px solid #fff;
	p {
		text-align: left!important;
		margin-top: 60px!important;
		padding: 15px;
		@include font-size(1.4);
		background-color: rgba(0,0,0,0.3);
		color: darken($color__text-nav, 10%)!important;
		/*color: $color__text-nav!important;*/
	}
	button {
		position: absolute;
		top: 0;
		right: 0;
		height: 50px;
		width: 50px;
		padding: 25px!important;
		margin: 5px!important;
		background-image: url(./img/popup_close.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		background-color: transparent!important;
		margin: 0;
	}
	.info {
		visibility: hidden;
	}
}
