.about-sidebar {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0;
	margin-bottom: 60px;
	@media (min-width: 460px) {
		margin-left: 30px;
		margin-right: 30px;
	}
	@media (min-width: 992px) {
		float: left;
		margin: 0 50px 0 0;
	}
	@media (min-width: 1200px) {
		margin-right: 100px;
	}
	@media (min-width: 1600px) {
		margin-right: 195px;
	}
}


.location-sidebar{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-top: 20px;
	@media (min-width: 460px) {
		margin-left: 30px;
		margin-right: 30px;
	}
	@media (min-width: 992px) {
		width: 300px;
		margin: 0;
	}
	@media (min-width: 1200px) {
		float: left;
	}
	@media (min-width: 1600px) {
		width: 400px;
	}


	.acf-map {		
		width: 300px;
		height: 220px;
		margin: 15px auto 0;

		@media (min-width: 460px) {
		}
		@media (min-width: 768px) {
		}
		@media (min-width: 992px) {
			margin: 1.5rem 0 0;
		}
		@media (min-width: 1200px) {
			width: 300px;
			height: 220px;
		}
		@media (min-width: 1600px) {
			width: 400px;
			height: 290px;
		}
	}

}
