/*
Theme Name: Remarkable Stones
Theme URI: http://underscores.me/
Author: OtherDay
Author URI: http://automattic.com/
Description: <code>Remarkable Stones</code> wordpress theme built on <em>underscores.me</em>
Version: 0.1
Text Domain: Remarkable Stones
Tags:

Remarkable Stones is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
/*#front page*/
/*#location page*/
/*#latlong*/
/*$font__fancy: "Snell Roundhand", serif;*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: black;
  /* Fallback for when there is no custom background color defined. */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
@font-face {
  font-family: 'La Portenia de la Boca';
  src: url("fonts/La Portenia de la Boca.ttf") format("truetype"); }
@font-face {
  font-family: 'MuseoSans';
  src: url("fonts/museosans/2C8BC5_0_0.eot");
  src: url("fonts/museosans/2C8BC5_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/museosans/2C8BC5_0_0.woff2") format("woff2"), url("fonts/museosans/2C8BC5_0_0.woff") format("woff"), url("fonts/museosans/2C8BC5_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'Caecilia';
  src: url("fonts/caecilia/2C8BC3_0_0.eot");
  src: url("fonts/caecilia/2C8BC3_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/caecilia/2C8BC3_0_0.woff2") format("woff2"), url("fonts/caecilia/2C8BC3_0_0.woff") format("woff"), url("fonts/caecilia/2C8BC3_0_0.ttf") format("truetype"), url("fonts/caecilia/2C8BC3_0_0.svg#wf") format("svg"); }
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: MuseoSans, sans-serif;
  font-size: 16px !important;
  font-size: 1.6rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

.location-banner, .about-image {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; }
  @media (min-width: 600px) {
    .location-banner, .about-image {
      margin-top: 30px;
      margin-bottom: 60px; } }
  @media (min-width: 768px) {
    .location-banner, .about-image {
      margin-top: 30px;
      margin-bottom: 80px; } }

.about-banner {
  margin-top: 40px;
  margin-bottom: 20px; }
  @media (min-width: 600px) {
    .about-banner {
      margin-top: 60px;
      margin-bottom: 30px; } }
  @media (min-width: 768px) {
    .about-banner {
      margin-top: 80px;
      margin-bottom: 30px; } }

.location-banner, .about-banner {
  font-family: MuseoSans, sans-serif;
  color: #818181; }
  .location-banner h2, .about-banner h2 {
    font-size: 16px !important;
    font-size: 1.6rem; }
    @media (min-width: 460px) {
      .location-banner h2, .about-banner h2 {
        font-size: 19px !important;
        font-size: 1.9rem; } }
    @media (min-width: 600px) {
      .location-banner h2, .about-banner h2 {
        font-size: 20px !important;
        font-size: 2rem; } }
    @media (min-width: 768px) {
      .location-banner h2, .about-banner h2 {
        font-size: 24px !important;
        font-size: 2.4rem; } }
    @media (min-width: 992px) {
      .location-banner h2, .about-banner h2 {
        font-size: 24px !important;
        font-size: 2.4rem; } }
    @media (min-width: 1200px) {
      .location-banner h2, .about-banner h2 {
        font-size: 27px !important;
        font-size: 2.7rem; } }
    @media (min-width: 1600px) {
      .location-banner h2, .about-banner h2 {
        font-size: 27px !important;
        font-size: 2.7rem; } }
  .location-banner h1, .about-banner h1 {
    letter-spacing: .2em;
    font-size: 12px !important;
    font-size: 1.2rem; }
    @media (min-width: 460px) {
      .location-banner h1, .about-banner h1 {
        font-size: 14px !important;
        font-size: 1.4rem; } }
    @media (min-width: 600px) {
      .location-banner h1, .about-banner h1 {
        font-size: 14px !important;
        font-size: 1.4rem; } }
    @media (min-width: 768px) {
      .location-banner h1, .about-banner h1 {
        font-size: 18px !important;
        font-size: 1.8rem; } }
    @media (min-width: 992px) {
      .location-banner h1, .about-banner h1 {
        font-size: 18px !important;
        font-size: 1.8rem; } }
    @media (min-width: 1200px) {
      .location-banner h1, .about-banner h1 {
        font-size: 18px !important;
        font-size: 1.8rem; } }
    @media (min-width: 1600px) {
      .location-banner h1, .about-banner h1 {
        font-size: 18px !important;
        font-size: 1.8rem; } }
  .location-banner hr, .about-banner hr {
    margin-top: 0;
    max-width: 60%; }
    @media (min-width: 460px) {
      .location-banner hr, .about-banner hr {
        max-width: 50%; } }
    @media (min-width: 600px) {
      .location-banner hr, .about-banner hr {
        max-width: 45%; } }
    @media (min-width: 768px) {
      .location-banner hr, .about-banner hr {
        max-width: 40%; } }
    @media (min-width: 992px) {
      .location-banner hr, .about-banner hr {
        max-width: 35%; } }
    @media (min-width: 1200px) {
      .location-banner hr, .about-banner hr {
        max-width: 30%; } }
    @media (min-width: 1600px) {
      .location-banner hr, .about-banner hr {
        max-width: 25%; } }

.location-sidebar {
  font-family: MuseoSans, sans-serif; }
  .location-sidebar h4 {
    color: #818181;
    text-align: center;
    font-size: 20px !important;
    font-size: 2rem; }
    @media (min-width: 768px) {
      .location-sidebar h4 {
        font-size: 18px !important;
        font-size: 1.8rem; } }
    @media (min-width: 992px) {
      .location-sidebar h4 {
        font-size: 20px !important;
        font-size: 2rem;
        text-align: left; } }
  .location-sidebar p {
    font-size: 15px !important;
    font-size: 1.5rem;
    margin-top: 1rem; }

p {
  margin-bottom: 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eeeeee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px !important;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-size: 15px !important;
  font-size: 1.5rem;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #666666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #cccccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #cccccc #cccccc #bbbbbb;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px !important;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #cccccc #bbbbbb #aaaaaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaaaaa #bbbbbb #bbbbbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666666;
  border: 1px solid #cccccc;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 3px;
  border-radius: 3px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  text-decoration: none;
  color: royalblue; }
  a:visited {
    color: inherit; }
  a:hover, a:focus, a:active {
    color: #1a3ca2; }

#bookmark:hover {
  cursor: pointer; }

.sm-links {
  padding: 20px 0 40px;
  margin: 0;
  list-style: none;
  text-align: center; }
  @media (min-width: 992px) {
    .sm-links {
      padding: 88px 0 40px; } }
  .sm-links li {
    display: inline-block; }

.ngg-navigation a {
  padding: 5px 8px !important;
  color: #000; }
  .ngg-navigation a:hover, .ngg-navigation a:focus, .ngg-navigation a:active {
    color: white !important;
    background-color: black !important; }

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.menu-main-nav-container {
  padding: 100px 0 40px;
  width: 80%;
  margin: 0 auto; }

.menu-main-nav-container ul, .menu-location-menu-container ul {
  display: block;
  margin: 0 auto;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .menu-main-nav-container ul li, .menu-location-menu-container ul li {
    -webkit-flex: auto;
    flex: auto;
    text-align: center;
    width: 33%;
    border-left: 2px solid white; }
    .menu-main-nav-container ul li a, .menu-location-menu-container ul li a {
      color: white;
      font-size: 18px !important;
      font-size: 1.8rem; }
    .menu-main-nav-container ul li a:hover, .menu-location-menu-container ul li a:hover {
      color: #b3b3b3; }
  .menu-main-nav-container ul li:last-child, .menu-location-menu-container ul li:last-child {
    border-right: 2px solid white; }
.menu-main-nav-container a, .menu-location-menu-container a {
  display: block;
  text-decoration: none; }
.menu-main-nav-container .current_page_item > a,
.menu-main-nav-container .current-menu-item > a,
.menu-main-nav-container .current_page_ancestor > a, .menu-location-menu-container .current_page_item > a,
.menu-location-menu-container .current-menu-item > a,
.menu-location-menu-container .current_page_ancestor > a {
  font-weight: bold; }

.sidebar-nav > .menu-location-menu-container {
  padding-top: 0; }

.menu-location-menu-container ul li {
  width: 50%;
  float: left;
  border-left: 2px solid white; }
  .menu-location-menu-container ul li a {
    color: white; }
.menu-location-menu-container ul li:last-child {
  border-right: 2px solid white; }
.menu-location-menu-container ul:after, .menu-location-menu-container ul:before {
  display: table;
  content: "";
  clear: both; }

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px !important;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets */ }
  .widget select {
    max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
12.3 Google Maps
--------------------------------------------------------------*/
.acf-map {
  /*for width and height of sidebar map see layout/sidebar*/
  /*	
  	div:nth-child(2){
  		z-index: -1 !important;
  	}
  	div:nth-child(3){
  		z-index: -1 !important;
  	}
  	div:nth-child(6){
  		z-index: -1 !important;
  	}
  	div:nth-child(7){
  		z-index: -1 !important;
  	}*/ }

.map-container {
  margin-bottom: 30px; }
  .map-container .acf-map {
    width: 100%;
    height: 500px; }

.map-toggler {
  margin-top: 15px;
  margin-bottom: 30px; }

/*--------------------------------------------------------------
12.4 Slideshow
--------------------------------------------------------------*/
.landing-slide .shadow-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(90deg, black 18%, transparent 33%);
  z-index: 10; }
.landing-slide .shadow-right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(270deg, black 18%, transparent 33%);
  z-index: 10; }

@media (min-width: 992px) {
  .border-right-dotted-1 {
    border-right: 1px dotted #fff; } }

@media (min-width: 992px) {
  .border-right-1 {
    border-right: 1px solid transparent; } }

.border-solid-bottom {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff; }

/*--------------------------------------------------------------
12.4 Header Image
--------------------------------------------------------------*/
.header-image {
  margin: 0 auto;
  max-width: 600px;
  max-height: 220px; }
  .header-image .shadow-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(90deg, black 0%, transparent 15%); }
  .header-image .shadow-right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(270deg, black 0%, transparent 15%); }

/*--------------------------------------------------------------
13.0 Grid
--------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: middle; }

/*.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 1600px) {
  .container {
    width: 1600px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 600px) {
  .hidden-xxs {
    display: none !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
/*--------------------------------------------------------------
13.0 LatLong
--------------------------------------------------------------*/
.latlong {
  position: relative;
  display: inline-block;
  margin: 0 auto; }
  .latlong input, .latlong label, .latlong button {
    text-align: center; }
  .latlong #latlong-form {
    position: absolute;
    z-index: 11;
    left: 50%;
    height: 200px;
    width: 400px;
    margin-left: -200px; }
    @media (min-width: 460px) {
      .latlong #latlong-form {
        height: 300px;
        width: 600px;
        margin-left: -300px; } }
    @media (min-width: 992px) {
      .latlong #latlong-form {
        height: 200px;
        width: 400px;
        margin-left: -200px; } }
    @media (min-width: 1200px) {
      .latlong #latlong-form {
        height: 300px;
        width: 600px;
        margin-left: -300px; } }
  .latlong form {
    margin-top: 75px; }
    @media (min-width: 460px) {
      .latlong form {
        margin-top: 120px; } }
    @media (min-width: 992px) {
      .latlong form {
        margin-top: 75px; } }
    @media (min-width: 1200px) {
      .latlong form {
        margin-top: 110px; } }
    @media (min-width: 1600px) {
      .latlong form {
        margin-top: 120px; } }
  .latlong input[type=text] {
    padding: 1px;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    width: 23%;
    font-size: 12px !important;
    font-size: 1.2rem;
    height: 1.8rem;
    line-height: 1.2; }
    @media (min-width: 460px) {
      .latlong input[type=text] {
        width: 26%;
        font-size: 21px !important;
        font-size: 2.1rem;
        line-height: 1;
        height: 2.4rem; } }
    @media (min-width: 992px) {
      .latlong input[type=text] {
        width: 23%;
        font-size: 12px !important;
        font-size: 1.2rem;
        line-height: 1.2;
        height: 1.8rem; } }
    @media (min-width: 1200px) {
      .latlong input[type=text] {
        width: 26%;
        font-size: 21px !important;
        font-size: 2.1rem;
        line-height: 1;
        height: 2.4rem; } }
  .latlong label {
    display: block;
    font-family: "La Portenia de la Boca", serif;
    color: white;
    font-size: 25px !important;
    font-size: 2.5rem;
    margin-bottom: -0.2rem; }
    .latlong label:first-child {
      margin-bottom: -0.7rem; }
    @media (min-width: 460px) {
      .latlong label {
        font-size: 40px !important;
        font-size: 4rem;
        margin-bottom: -0.2rem; }
        .latlong label:first-child {
          margin-bottom: -0.7rem; } }
    @media (min-width: 992px) {
      .latlong label {
        font-size: 25px !important;
        font-size: 2.5rem;
        margin-bottom: -0.2rem; }
        .latlong label:first-child {
          margin-bottom: -0.7rem; } }
    @media (min-width: 1200px) {
      .latlong label {
        font-size: 40px !important;
        font-size: 4rem;
        margin-bottom: -0.2rem; }
        .latlong label:first-child {
          margin-bottom: -0.7rem; } }
  .latlong button[type=submit] {
    display: block;
    font-family: Caecilia, sans-serif;
    color: white;
    padding: 0.2em 1em 0;
    border: 1px solid #fff;
    box-shadow: none;
    text-shadow: none;
    margin: 0 auto;
    line-height: 1.3;
    margin-top: 70px;
    font-size: 12px !important;
    font-size: 1.2rem; }
    @media (min-width: 460px) {
      .latlong button[type=submit] {
        margin-top: 100px;
        font-size: 18px !important;
        font-size: 1.8rem; } }
    @media (min-width: 992px) {
      .latlong button[type=submit] {
        margin-top: 70px;
        font-size: 12px !important;
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      .latlong button[type=submit] {
        margin-top: 100px;
        font-size: 18px !important;
        font-size: 1.8rem; } }
    .latlong button[type=submit]:hover {
      color: #e6e6e6; }
  .latlong .banner {
    margin-top: 30px; }
    @media (min-width: 600px) {
      .latlong .banner {
        margin-top: 60px; } }
    .latlong .banner h1, .latlong .banner h2 {
      text-align: center;
      color: white;
      font-family: Caecilia, sans-serif; }
    .latlong .banner h1 {
      font-size: 20px !important;
      font-size: 2rem; }
      @media (min-width: 460px) {
        .latlong .banner h1 {
          font-size: 30px !important;
          font-size: 3rem; } }
      @media (min-width: 600px) {
        .latlong .banner h1 {
          font-size: 40px !important;
          font-size: 4rem; } }
      @media (min-width: 992px) {
        .latlong .banner h1 {
          font-size: 30px !important;
          font-size: 3rem; } }
      @media (min-width: 1200px) {
        .latlong .banner h1 {
          font-size: 30px !important;
          font-size: 3rem; } }
      @media (min-width: 1600px) {
        .latlong .banner h1 {
          font-size: 40px !important;
          font-size: 4rem; } }
    .latlong .banner h2 {
      font-size: 18px !important;
      font-size: 1.8rem; }
      @media (min-width: 460px) {
        .latlong .banner h2 {
          font-size: 25px !important;
          font-size: 2.5rem; } }
      @media (min-width: 600px) {
        .latlong .banner h2 {
          font-size: 28px !important;
          font-size: 2.8rem; } }
      @media (min-width: 992px) {
        .latlong .banner h2 {
          font-size: 20px !important;
          font-size: 2rem; } }
      @media (min-width: 1200px) {
        .latlong .banner h2 {
          font-size: 24px !important;
          font-size: 2.4rem; } }
      @media (min-width: 1600px) {
        .latlong .banner h2 {
          font-size: 25px !important;
          font-size: 2.5rem; } }
    .latlong .banner hr {
      margin: .2em 8em; }
      @media (min-width: 460px) {
        .latlong .banner hr {
          margin: .2em 8em; } }
      @media (min-width: 600px) {
        .latlong .banner hr {
          margin: .2em 4em; } }
      @media (min-width: 1200px) {
        .latlong .banner hr {
          margin: .2em 8em; } }
      @media (min-width: 1600px) {
        .latlong .banner hr {
          margin: .2em 4em; } }

.latlong-overlay {
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 10; }

#svg {
  position: absolute;
  top: -20px;
  left: 50%;
  z-index: 10;
  margin-left: -150px;
  height: 300px;
  width: 300px; }
  @media (min-width: 460px) {
    #svg {
      margin-left: -225px;
      height: 450px;
      width: 450px; } }
  @media (min-width: 992px) {
    #svg {
      margin-left: -150px;
      height: 300px;
      width: 300px; } }
  @media (min-width: 1200px) {
    #svg {
      margin-left: -225px;
      height: 450px;
      width: 450px;
      margin-top: -10px; } }
  @media (min-width: 1600px) {
    #svg {
      margin-top: 0; } }

.latlong-404 {
  position: relative;
  display: inline-block;
  margin: 0 auto; }
  .latlong-404 input, .latlong-404 label, .latlong-404 button {
    text-align: center; }
  .latlong-404 #latlong-form {
    position: absolute;
    z-index: 11;
    left: 50%;
    height: 200px;
    width: 400px;
    margin-left: -200px; }
    @media (min-width: 460px) {
      .latlong-404 #latlong-form {
        height: 300px;
        width: 600px;
        margin-left: -300px; } }
  .latlong-404 form {
    margin-top: 75px; }
    @media (min-width: 460px) {
      .latlong-404 form {
        margin-top: 120px; } }
  .latlong-404 input[type=text] {
    padding: 1px;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    width: 23%;
    font-size: 12px !important;
    font-size: 1.2rem;
    height: 1.8rem;
    line-height: 1.2; }
    @media (min-width: 460px) {
      .latlong-404 input[type=text] {
        width: 26%;
        font-size: 21px !important;
        font-size: 2.1rem;
        line-height: 1;
        height: 2.4rem; } }
  .latlong-404 label {
    display: block;
    font-family: "La Portenia de la Boca", serif;
    color: white;
    font-size: 25px !important;
    font-size: 2.5rem;
    margin-bottom: -0.2rem; }
    .latlong-404 label:first-child {
      margin-bottom: -0.7rem; }
    @media (min-width: 460px) {
      .latlong-404 label {
        font-size: 40px !important;
        font-size: 4rem;
        margin-bottom: -0.2rem; }
        .latlong-404 label:first-child {
          margin-bottom: -0.7rem; } }
  .latlong-404 button[type=submit] {
    display: block;
    font-family: Caecilia, sans-serif;
    color: white;
    padding: 0.2em 1em 0;
    border: 1px solid #fff;
    box-shadow: none;
    text-shadow: none;
    margin: 0 auto;
    line-height: 1.3;
    margin-top: 70px;
    font-size: 12px !important;
    font-size: 1.2rem; }
    @media (min-width: 460px) {
      .latlong-404 button[type=submit] {
        margin-top: 100px;
        font-size: 18px !important;
        font-size: 1.8rem; } }
    .latlong-404 button[type=submit]:hover {
      color: #e6e6e6; }
  .latlong-404 .banner {
    margin-top: 30px; }
    .latlong-404 .banner h1, .latlong-404 .banner h2 {
      text-align: center;
      color: white;
      font-family: Caecilia, sans-serif; }
    .latlong-404 .banner h1 {
      font-size: 20px !important;
      font-size: 2rem; }
      @media (min-width: 460px) {
        .latlong-404 .banner h1 {
          font-size: 30px !important;
          font-size: 3rem; } }
      @media (min-width: 600px) {
        .latlong-404 .banner h1 {
          font-size: 40px !important;
          font-size: 4rem; } }
    .latlong-404 .banner h2 {
      font-size: 18px !important;
      font-size: 1.8rem; }
      @media (min-width: 460px) {
        .latlong-404 .banner h2 {
          font-size: 25px !important;
          font-size: 2.5rem; } }
      @media (min-width: 600px) {
        .latlong-404 .banner h2 {
          font-size: 28px !important;
          font-size: 2.8rem; } }
    .latlong-404 .banner hr {
      margin: .2em 8em; }
      @media (min-width: 460px) {
        .latlong-404 .banner hr {
          margin: .2em 8em; } }
      @media (min-width: 600px) {
        .latlong-404 .banner hr {
          margin: .2em 4em; } }

@media (min-width: 460px) {
  .latlong-404 #svg {
    margin-left: -225px;
    height: 450px;
    width: 450px; } }

/*--------------------------------------------------------------
14.0 Layout
--------------------------------------------------------------*/
html, body {
  height: 100%; }

.container-fluid {
  overflow-y: hidden;
  /*padding: 0 !important;*/ }

@media (max-width: 767px) {
  .col-12 {
    width: 100%; } }

.ruler {
  background-image: url("./img/page_ruler.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }

.landing-slide {
  margin-top: 0; }

.location-body, .location-gallery, .about-body {
  background-color: white;
  color: black; }
  @media (min-width: 460px) {
    .location-body main, .location-gallery main, .about-body main {
      margin-left: 10px;
      margin-right: 10px; } }
  @media (min-width: 992px) {
    .location-body main, .location-gallery main, .about-body main {
      margin-left: 50px;
      margin-right: 0; } }
  @media (min-width: 1200px) {
    .location-body main, .location-gallery main, .about-body main {
      margin-left: 100px; } }
  @media (min-width: 1600px) {
    .location-body main, .location-gallery main, .about-body main {
      margin-left: 195px; } }
  .location-body main h1, .location-body main h2, .location-body main p, .location-body main hr, .location-body main .about-image, .location-gallery main h1, .location-gallery main h2, .location-gallery main p, .location-gallery main hr, .location-gallery main .about-image, .about-body main h1, .about-body main h2, .about-body main p, .about-body main hr, .about-body main .about-image {
    margin-left: 20px;
    margin-right: 20px; }
    @media (min-width: 1200px) {
      .location-body main h1, .location-body main h2, .location-body main p, .location-body main hr, .location-body main .about-image, .location-gallery main h1, .location-gallery main h2, .location-gallery main p, .location-gallery main hr, .location-gallery main .about-image, .about-body main h1, .about-body main h2, .about-body main p, .about-body main hr, .about-body main .about-image {
        margin-left: 50px;
        margin-right: 50px; } }
    @media (min-width: 1600px) {
      .location-body main h1, .location-body main h2, .location-body main p, .location-body main hr, .location-body main .about-image, .location-gallery main h1, .location-gallery main h2, .location-gallery main p, .location-gallery main hr, .location-gallery main .about-image, .about-body main h1, .about-body main h2, .about-body main p, .about-body main hr, .about-body main .about-image {
        margin-left: 100px;
        margin-right: 100px; } }
  .location-body main .gallery, .location-gallery main .gallery, .about-body main .gallery {
    margin-left: 20px;
    margin-right: 30px; }
    @media (min-width: 1200px) {
      .location-body main .gallery, .location-gallery main .gallery, .about-body main .gallery {
        margin-left: 50px;
        margin-right: 150px; } }
    @media (min-width: 1600px) {
      .location-body main .gallery, .location-gallery main .gallery, .about-body main .gallery {
        margin-left: 100px;
        margin-right: 295px; } }

.location-gallery {
  background-color: #cfcfcf; }

.gallery:after, .gallery:before {
  display: table;
  content: "";
  clear: both; }
@media (min-width: 992px) {
  .gallery {
    margin-top: 20px; } }

.ngg-galleryoverview {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .ngg-galleryoverview > div {
    -webkit-flex: auto;
    flex: auto; }

.about-sidebar {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 60px; }
  @media (min-width: 460px) {
    .about-sidebar {
      margin-left: 30px;
      margin-right: 30px; } }
  @media (min-width: 992px) {
    .about-sidebar {
      float: left;
      margin: 0 50px 0 0; } }
  @media (min-width: 1200px) {
    .about-sidebar {
      margin-right: 100px; } }
  @media (min-width: 1600px) {
    .about-sidebar {
      margin-right: 195px; } }

.location-sidebar {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-top: 20px; }
  @media (min-width: 460px) {
    .location-sidebar {
      margin-left: 30px;
      margin-right: 30px; } }
  @media (min-width: 992px) {
    .location-sidebar {
      width: 300px;
      margin: 0; } }
  @media (min-width: 1200px) {
    .location-sidebar {
      float: left; } }
  @media (min-width: 1600px) {
    .location-sidebar {
      width: 400px; } }
  .location-sidebar .acf-map {
    width: 300px;
    height: 220px;
    margin: 15px auto 0; }
    @media (min-width: 992px) {
      .location-sidebar .acf-map {
        margin: 1.5rem 0 0; } }
    @media (min-width: 1200px) {
      .location-sidebar .acf-map {
        width: 300px;
        height: 220px; } }
    @media (min-width: 1600px) {
      .location-sidebar .acf-map {
        width: 400px;
        height: 290px; } }

.static-site-footer {
  text-align: right;
  background-color: black;
  clear: both;
  padding: 20px; }

.sweet-alert {
  position: relative;
  background-image: url(./img/popup_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 325px;
  width: 435px;
  padding: 0 !important;
  border: 2px solid #fff; }
  .sweet-alert p {
    text-align: left !important;
    margin-top: 60px !important;
    padding: 15px;
    font-size: 14px !important;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e6e6e6 !important;
    /*color: $color__text-nav!important;*/ }
  .sweet-alert button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    padding: 25px !important;
    margin: 5px !important;
    background-image: url(./img/popup_close.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-color: transparent !important;
    margin: 0; }
  .sweet-alert .info {
    visibility: hidden; }

/*--------------------------------------------------------------
15.0 Layout
--------------------------------------------------------------*/
.sweet-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: -15px;
  display: none;
  z-index: 1000; }

.sweet-alert {
  background-color: white;
  font-family: MuseoSans, sans-serif;
  width: 435px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -217.5px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 2000; }
  @media all and (max-width: 435px) {
    .sweet-alert {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 15px; } }
  .sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative; }
  .sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    margin: 0;
    line-height: normal; }
  .sweet-alert button {
    background-color: #aedef4;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
    .sweet-alert button:focus {
      outline: none;
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .sweet-alert button:hover {
      background-color: #a1d9f2; }
    .sweet-alert button:active {
      background-color: #81ccee; }
    .sweet-alert button.cancel {
      background-color: #d0d0d0; }
      .sweet-alert button.cancel:hover {
        background-color: #c8c8c8; }
      .sweet-alert button.cancel:active {
        background-color: #b6b6b6; }
      .sweet-alert button.cancel:focus {
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.04706) 0px 0px 0px 1px inset !important; }
  .sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
  .sweet-alert .icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box; }
    .sweet-alert .icon.error {
      border-color: #f27474; }
      .sweet-alert .icon.error .x-mark {
        position: relative;
        display: block; }
      .sweet-alert .icon.error .line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #f27474;
        display: block;
        top: 37px;
        border-radius: 2px; }
        .sweet-alert .icon.error .line.left {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px; }
        .sweet-alert .icon.error .line.right {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px; }
    .sweet-alert .icon.warning {
      border-color: #f8bb86; }
      .sweet-alert .icon.warning .body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #f8bb86; }
      .sweet-alert .icon.warning .dot {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #f8bb86; }
    .sweet-alert .icon.info {
      border-color: #c9dae1; }
      .sweet-alert .icon.info::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #c9dae1; }
      .sweet-alert .icon.info::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: #c9dae1; }
    .sweet-alert .icon.success {
      border-color: #a5dc86; }
      .sweet-alert .icon.success::before, .sweet-alert .icon.success::after {
        content: '';
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: white;
        transform: rotate(45deg); }
      .sweet-alert .icon.success::before {
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        transform-origin: 60px 60px; }
      .sweet-alert .icon.success::after {
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        transform-origin: 0px 60px; }
      .sweet-alert .icon.success .placeholder {
        width: 80px;
        height: 80px;
        border: 4px solid rgba(165, 220, 134, 0.2);
        border-radius: 50%;
        box-sizing: content-box;
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2; }
      .sweet-alert .icon.success .fix {
        width: 5px;
        height: 90px;
        background-color: white;
        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .sweet-alert .icon.success .line {
        height: 5px;
        background-color: #a5dc86;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2; }
        .sweet-alert .icon.success .line.tip {
          width: 25px;
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .sweet-alert .icon.success .line.long {
          width: 47px;
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .sweet-alert .icon.custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }

  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }

  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-moz-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }

  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }

  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }

  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }

  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }

  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@-moz-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }

  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }

  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
.showSweetAlert {
  -webkit-animation: showSweetAlert 0.3s;
  -moz-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.hideSweetAlert {
  -webkit-animation: hideSweetAlert 0.2s;
  -moz-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }

  54% {
    width: 0;
    left: 1px;
    top: 19px; }

  70% {
    width: 50px;
    left: -8px;
    top: 37px; }

  84% {
    width: 17px;
    left: 21px;
    top: 48px; }

  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@-moz-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }

  54% {
    width: 0;
    left: 1px;
    top: 19px; }

  70% {
    width: 50px;
    left: -8px;
    top: 37px; }

  84% {
    width: 17px;
    left: 21px;
    top: 48px; }

  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }

  54% {
    width: 0;
    left: 1px;
    top: 19px; }

  70% {
    width: 50px;
    left: -8px;
    top: 37px; }

  84% {
    width: 17px;
    left: 21px;
    top: 48px; }

  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }

  65% {
    width: 0;
    right: 46px;
    top: 54px; }

  84% {
    width: 55px;
    right: 0px;
    top: 35px; }

  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@-moz-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }

  65% {
    width: 0;
    right: 46px;
    top: 54px; }

  84% {
    width: 55px;
    right: 0px;
    top: 35px; }

  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }

  65% {
    width: 0;
    right: 46px;
    top: 54px; }

  84% {
    width: 55px;
    right: 0px;
    top: 35px; }

  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }

  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
@-moz-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }

  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }

  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  -moz-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  -moz-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.icon.success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  -moz-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }

  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@-moz-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }

  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }

  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  -moz-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@-moz-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }

  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  -moz-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

/*@include keyframes(simpleRotate) {
	0%		{ transform: rotateY(0deg);    }
  100% 	{ transform: rotateY(-360deg); }
}
.simpleRotate {
	@include animation('simpleRotate 0.75s');
}*/
@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }

  100% {
    border-color: #F8BB86; } }
@-moz-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }

  100% {
    border-color: #F8BB86; } }
@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }

  100% {
    border-color: #F8BB86; } }
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  -moz-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }

  100% {
    background-color: #F8BB86; } }
@-moz-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }

  100% {
    background-color: #F8BB86; } }
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }

  100% {
    background-color: #F8BB86; } }
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  -moz-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.pos-rel {
  position: relative; }

/*div, main, body, li, label {
	border: 1px red dotted!important;
}*/
